@use "../../global" as *;

// ==========================================================================
// Heading
// ==========================================================================

.c-heading {
  text-align: center;
  margin-bottom: sm_vw(40);

  @include smMin {
    margin-bottom: rem(48);
  }
}

.c-heading--left {
  text-align: left;
}

.c-heading__en {
  display: block;
  font-family: $font-family-display;
  font-size: rem(32);
  font-weight: $fw-extrabold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-primary;
  line-height: 1.1;
  margin-bottom: rem(8);

  @include smMin {
    font-size: rem(56);
  }
}

.c-heading__ja {
  display: block;
  font-size: rem(12);
  font-weight: $fw-medium;
  line-height: 1.4;
  color: $color-text-light;
  letter-spacing: 0.08em;

  @include smMin {
    font-size: rem(13);
  }
}
