@use "../../global" as *;

// ==========================================================================
// Company
// ==========================================================================

.p-company {
  @include content-width;
  padding-top: sm_vw(40);
  padding-bottom: sm_vw(60);

  @include smMin {
    padding-top: rem(48);
    padding-bottom: rem(80);
  }
}

.p-company__section {
  margin-bottom: sm_vw(48);

  @include smMin {
    margin-bottom: rem(64);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.p-company__section-ttl {
  font-size: rem(20);
  font-weight: $fw-bold;
  color: $color-primary;
  margin-bottom: sm_vw(24);
  padding-bottom: sm_vw(12);
  border-bottom: 1px solid $color-primary;

  @include smMin {
    font-size: rem(24);
    margin-bottom: rem(28);
    padding-bottom: rem(12);
  }
}

// Top page summary
.p-company-summary {
  background-color: $color-bg-light;
  padding: sm_vw(24) sm_vw(20);

  @include smMin {
    padding: rem(32) rem(40);
  }
}

.p-company-summary__body {
  flex: 1;
}

.p-company-summary__item {
  display: flex;
  gap: rem(16);
  font-size: rem(14);
  padding: sm_vw(12) 0;
  border-bottom: 1px solid $color-border-light;

  @include smMin {
    font-size: rem(15);
    padding: rem(16) 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.p-company-summary__label {
  font-weight: $fw-bold;
  color: $color-primary;
  min-width: rem(80);
  flex-shrink: 0;

  @include smMin {
    min-width: rem(100);
  }
}

.p-company-summary__value {
  color: $color-text;
}

.p-company-summary__more {
  margin-top: sm_vw(24);
  text-align: center;

  @include smMin {
    margin-top: rem(32);
  }
}
