@use "../../global" as *;

// ==========================================================================
// Hero
// ==========================================================================

.p-hero {
  background-color: $color-bg-dark;
  color: #fff;
  padding: sm_vw(100) $content-padding-sp;
  min-height: sm_vw(400);
  display: flex;
  align-items: center;

  @include smMin {
    padding: rem(160) $content-padding-pc;
    min-height: rem(500);
  }
}

.p-hero__inner {
  max-width: calc($content-width + $content-padding-pc * 2);
  margin-inline: auto;
  width: 100%;

  @include smMin {
    padding-inline: $content-padding-pc;
  }
}

.p-hero__catch {
  font-size: rem(28);
  font-weight: $fw-bold;
  line-height: 1.4;
  margin-bottom: sm_vw(20);

  @include smMin {
    font-size: rem(48);
    margin-bottom: rem(24);
  }
}

.p-hero__lead {
  font-size: rem(14);
  line-height: 1.8;
  color: rgba(#fff, 0.6);
  max-width: rem(600);

  @include smMin {
    font-size: rem(16);
  }
}
